@import './reset.css';
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 
color: #ff922b;
background-color: #ffec99;
*/

* {
  font-family: 'NanumSquareNeo-Variable';
}


.App {
  border: 1px solid #ffec99;
  width: 1200px;
  margin: 0 auto;
}

